/* MEDIA QUERY BREAKPOINTS 
    0-576px for portrait phones.
    577-768px for tablets in portrait mode.
    769-991 for tablets in landcape mode.
    992-1200px for laptops.
    1200px+ for large devices.


*/
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@keyframes fade1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade4 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
@media only screen and (max-width: 1201px) {
  html {
    font-size: 87.5%;
  }
}
@media only screen and (max-width: 1024px) {
  html {
    font-size: 87.5%;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 87.5%;
  }
}

body {
  font-family: "Varela", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #595959;
}
@media only screen and (max-width: 768px) {
  body {
    padding: 0;
  }
}

a,
label {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  text-decoration: none;
  background-color: transparent;
}

a:focus,
a:active,
label:focus,
label:active {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  text-decoration: none;
  background-color: transparent;
}

.heading-primary {
  color: #fff;
  font-weight: 400;
}
.heading-primary--main {
  display: block;
  font-family: "Lora", serif;
  text-transform: uppercase;
  font-size: 3.75rem;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 1201px) {
  .heading-primary--main {
    font-size: 3.75rem;
  }
}
@media only screen and (max-width: 1024px) {
  .heading-primary--main {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 768px) {
  .heading-primary--main {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 480px) {
  .heading-primary--main {
    font-size: 1.8rem;
  }
}
.heading-primary--sub {
  display: block;
  font-family: "Caveat", cursive;
  font-size: 2.4rem;
}
@media only screen and (max-width: 1024px) {
  .heading-primary--sub {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .heading-primary--sub {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 480px) {
  .heading-primary--sub {
    font-size: 1.4rem;
  }
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
@media only screen and (max-width: 1024px) {
  .heading-secondary {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 768px) {
  .heading-secondary {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 480px) {
  .heading-secondary {
    font-size: 1.8rem;
    margin-inline: 1rem;
  }
}
.heading-secondary:hover {
  transform: translateY(-0.1rem);
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.heading-secondary.white {
  background-image: linear-gradient(to right, #fff, #e0e0e0);
}

.contact-us {
  color: black;
}

.heading-tertiary {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 1201px) {
  .heading-tertiary {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 1024px) {
  .heading-tertiary {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .heading-tertiary {
    font-size: 1.05rem;
  }
}
@media only screen and (max-width: 480px) {
  .heading-tertiary {
    font-size: 1rem;
  }
}

.paragraph {
  font-size: 1.1rem;
}

.our-menu {
  color: #e0e0e0;
}

.welcome {
  color: #000;
  text-transform: capitalize;
}

.u-display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-display-flex-evenly {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.u-align-center {
  text-align: center;
}

.u-margin-sides {
  text-align: center;
  margin-inline: 1rem;
  padding: 1rem;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.u-margin-bottom-sm-medium {
  margin-bottom: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2.5rem;
}

.u-margin-bottom-big {
  margin-bottom: 3rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  gap: 6rem;
}
@media only screen and (max-width: 1201px) {
  .header {
    height: 660px;
    gap: 4rem;
  }
}
@media only screen and (max-width: 1024px) {
  .header {
    height: 660px;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    height: 460px;
    gap: 0;
  }
}
@media only screen and (max-width: 480px) {
  .header {
    height: 360px;
  }
}
.header__slider--1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(14, 0, 0, 0.7)), url(img/header-image-1-small.jpg);
  background-position: top;
  background-size: cover;
  animation: fade1 20s infinite;
}
.header__slider--2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(14, 0, 0, 0.7)), url(img/header-image-2-medium.jpg);
  background-position: top;
  background-size: cover;
  animation: fade2 20s infinite;
}
.header__slider--3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(14, 0, 0, 0.7)), url(img/header-image-3-medium.jpg);
  background-position: top;
  background-size: cover;
  animation: fade3 20s infinite;
}
.header__slider--4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(14, 0, 0, 0.7)), url(img/header-image-4-medium.jpg);
  background-position: top;
  background-size: cover;
  animation: fade4 20s infinite;
}
.header__logo-box {
  z-index: 1;
  margin-bottom: 1rem;
}
.header__logo {
  height: 15rem;
}
@media only screen and (max-width: 1201px) {
  .header__logo {
    height: 14rem;
  }
}
@media only screen and (max-width: 1024px) {
  .header__logo {
    height: 13rem;
  }
}
@media only screen and (max-width: 768px) {
  .header__logo {
    height: 11rem;
  }
}
@media only screen and (max-width: 480px) {
  .header__logo {
    height: 9rem;
  }
}
.header__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .header__text-box {
    max-width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  .header__text-box {
    max-width: 400px;
  }
}
@media only screen and (max-width: 480px) {
  .header__text-box {
    max-width: 300px;
  }
}
.header__btn-box {
  margin-top: -2rem;
}
@media only screen and (max-width: 768px) {
  .header__btn-box {
    margin-top: 1rem;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .row {
    max-width: 70rem;
    text-align: left;
    justify-content: center;
  }
}
@media only screen and (max-width: 480px) {
  .row {
    max-width: 100%;
  }
}
.row .col-1-of-4 {
  flex: 0 1 calc(25% - 1rem);
  margin-bottom: 1.5rem;
  margin-inline: 1rem;
}
@media only screen and (max-width: 768px) {
  .row .col-1-of-4 {
    flex: 0 1 calc(50% - 1rem);
  }
}
@media only screen and (max-width: 480px) {
  .row .col-1-of-4 {
    flex: 0 1 100%;
    margin-bottom: 0;
  }
}

.footer {
  background-color: #000;
  padding: 2rem 0;
  margin-top: 3rem;
}
@media only screen and (max-width: 768px) {
  .footer {
    padding: 1rem 0;
  }
}
.footer__navigation {
  width: 45vw;
  text-align: center;
  border-top: 1px solid #777;
  padding-top: 1rem;
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .footer__navigation {
    display: block;
  }
}
.footer__list {
  list-style: none;
}
@media only screen and (max-width: 768px) {
  .footer__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: end;
    align-items: flex-end;
  }
}
.footer__item {
  display: inline-block;
  margin-right: 20px;
  margin-top: 1px;
  margin-bottom: 0;
}
@media only screen and (max-width: 1024px) {
  .footer__item {
    margin-right: 5px;
  }
}
@media only screen and (max-width: 768px) {
  .footer__item {
    margin-right: 0;
  }
}
.footer__link {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
.footer__link:link, .footer__link:visited {
  color: #f7f7f7;
  transition: all 0.4s;
}
.footer__link:hover, .footer__link:active {
  color: #ff6666;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}
.footer__copyright {
  color: #f7f7f7;
  border-top: 1px solid #777;
  padding-top: 1rem;
  display: inline-block;
  width: 45vw;
  float: right;
}
@media only screen and (max-width: 480px) {
  .footer__copyright {
    float: none;
  }
}
.footer__copyright-box {
  margin-right: 1rem;
}
.footer__author {
  text-decoration: none;
  display: inline-block;
  color: #ff6666;
}
.footer__author:link, .footer__author:visited {
  transition: all 0.4s;
}
.footer__author:hover, .footer__author:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(3deg) scale(1.2);
}
.footer__logo-box {
  text-align: center;
}
.footer__logo img {
  width: 9rem;
}
@media only screen and (max-width: 480px) {
  .footer__logo img {
    width: 3.5rem;
  }
}

.footer-width {
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 12px;
}
@media only screen and (max-width: 480px) {
  .footer-width {
    font-size: 10px;
  }
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  z-index: 2000;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 0;
  right: 2rem;
  cursor: pointer;
  text-align: center;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  height: 1px;
  width: 2.3rem;
  background-color: #f7f7f7;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5rem;
  right: 11.5rem;
  background-image: linear-gradient(to right bottom, transparent, transparent);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.76, 0, 0.24, 1);
}
@media only screen and (max-width: 480px) {
  .navigation__background {
    right: 1.5rem !important;
  }
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.98), rgba(0, 0, 0, 0.98));
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  overflow: hidden;
  transition: all 0.8s cubic-bezier(0.76, 0, 0.24, 1);
}
.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
  overflow: visible;
}
.navigation__checkbox:not(:checked) ~ .navigation__nav {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.8s cubic-bezier(0.76, 0, 0.24, 1), transform 0.8s cubic-bezier(0.76, 0, 0.24, 1);
  pointer-events: none;
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  list-style: none;
  display: none;
}
.navigation__checkbox:checked ~ .navigation__nav .navigation__list {
  display: block;
}
.navigation__item {
  margin: 1rem auto;
}
.navigation__link {
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.8s;
  display: inline-block;
}
.navigation__link:link, .navigation__link:visited {
  color: #fff;
}
.navigation__link:hover, .navigation__link:active {
  color: #ff6666;
  transform: translate(1rem);
}
.navigation__link span {
  margin-right: 1.5rem;
  display: inline-block;
}

.about-container {
  display: flex;
  max-width: 90%;
  margin-inline: auto;
}
@media only screen and (max-width: 1024px) {
  .about-container {
    flex-direction: column;
  }
}

.about-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 30%;
  margin-inline: auto;
}
@media only screen and (max-width: 1024px) {
  .about-box {
    max-width: 90%;
    margin-bottom: 4rem;
  }
}
.about-box h3 {
  align-self: center;
  font-size: 20px;
}
@media only screen and (max-width: 1024px) {
  .about-box h3 {
    font-size: 24px;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .about-box h3 {
    font-size: 20px;
  }
}
.about-box p {
  font-size: 16px;
}
@media only screen and (max-width: 1201px) {
  .about-box p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .about-box p {
    font-size: 16px;
  }
}
.about-box__img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 2rem;
  box-shadow: 3px 3px 3px 0px rgb(0, 0, 0);
  border-radius: 5px;
  z-index: 10;
  outline-offset: 2rem;
  transition: all 0.2s;
}
.about-box__img:hover {
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 4px 4px 12px -3px rgb(0, 0, 0);
  z-index: 20;
  outline: 0.1rem solid #0e0000;
}
.about-box__img:hover .about-box__img:__img:not(:hover) {
  transform: scale(0.9);
}

.about-btn {
  margin-top: 4rem;
  margin-left: 7%;
}
@media only screen and (max-width: 1024px) {
  .about-btn {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .col-1-of-2.about-box {
    width: 90% !important;
  }
}

.btn:link, .btn:visited {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  font-size: 0.85rem;
  border-radius: 2rem;
  position: relative;
  border: 2px solid #f7f7f7;
  display: inline-block;
  transition: all 0.2s;
  margin: 0.5rem;
}
@media only screen and (max-width: 768px) {
  .btn:link, .btn:visited {
    font-size: 0.9rem;
    padding: 0.85rem 2.2rem;
  }
}
@media only screen and (max-width: 480px) {
  .btn:link, .btn:visited {
    font-size: 0.8rem;
    padding: 0.65rem 1.8rem;
  }
}
.btn:hover {
  outline: none;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.btn--black {
  background-color: #000;
  color: #f7f7f7;
}
@media only screen and (max-width: 1024px) {
  .btn--black {
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  .btn--black {
    margin: 1rem;
  }
}
.btn--white {
  background-color: #f7f7f7;
  padding: 1rem 3.2rem;
  color: #000;
  font-weight: 600;
  border: 2px solid #000 !important;
}
@media only screen and (max-width: 768px) {
  .btn--white {
    padding: 0.85rem 2.2rem;
  }
}
@media only screen and (max-width: 480px) {
  .btn--white {
    padding: 0.65rem 1.8rem;
  }
}

.btn-rectangular:link, .btn-rectangular:visited {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  padding: 0.85rem 2rem;
  font-size: 0.9rem;
  transition: all 0.2s;
}
.btn-rectangular--white:hover, .btn-rectangular:hover {
  background-color: #000 !important;
  color: #fff !important;
  border: 2px solid #f7f7f7 !important;
  border-radius: 50px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-3px);
}
.btn-rectangular--white:active, .btn-rectangular:active {
  transform: translateY(-1px);
  border: 2px solid #f7f7f7;
  border-radius: 50px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.btn-rectangular--white:link, .btn-rectangular--white:visited {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.btn-rectangular--white:hover {
  border-radius: 50px;
}

#menu {
  background-image: url("../img/menu-section-bg.png");
  background-size: 30%;
  background-position: 80% 7%;
  background-repeat: repeat-x;
}
@media only screen and (max-width: 1201px) {
  #menu {
    background-position: 80% 3.5%;
  }
}
@media only screen and (max-width: 1024px) {
  #menu {
    background-position: 80% 2.5%;
  }
}
@media only screen and (max-width: 768px) {
  #menu {
    background-position: 80% 4.5%;
  }
}
@media only screen and (max-width: 480px) {
  #menu {
    background-position: 80% 7.5%;
  }
}

.menu-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  box-shadow: 2px 1px 2px 0px #d1d1d1;
  width: 20%;
  height: 28rem;
  color: #fff;
  position: relative;
  background-size: cover;
}
@media only screen and (max-width: 1201px) {
  .menu-box {
    width: 30rem;
    height: 40rem;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 1024px) {
  .menu-box {
    width: 24rem;
    height: 30rem;
  }
}
@media only screen and (max-width: 768px) {
  .menu-box {
    width: 48%;
    height: 16rem;
    margin: 0.2rem auto;
  }
}
@media only screen and (max-width: 480px) {
  .menu-box {
    height: 12rem;
  }
}
.menu-box--1 {
  background-image: linear-gradient(to right bottom, rgba(14, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/menu-img-1.jpg);
  background-position: 78% 50%;
}
.menu-box--2 {
  background-image: linear-gradient(to right bottom, rgba(14, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/menu-img-2.jpg);
  background-position: 78% 50%;
}
.menu-box--3 {
  background-image: linear-gradient(to right bottom, rgba(14, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/menu-img-3.jpg);
  background-position: 78% 50%;
}
.menu-box--4 {
  background-image: linear-gradient(to right bottom, rgba(14, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/menu-img-4.jpg);
  background-position: 78% 50%;
}
.menu-box__title {
  font-size: 2.2rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.8;
  transition: opacity 0.2s;
  transition: font-size 0.1s ease, opacity 0.3s ease-in-out;
}
@media only screen and (max-width: 1201px) {
  .menu-box__title {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 1024px) {
  .menu-box__title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .menu-box__title {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 480px) {
  .menu-box__title {
    font-size: 1.2rem;
  }
}
.menu-box__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 28rem;
  background-image: linear-gradient(to right bottom, #000000, #0e0000);
  opacity: 0.2;
  transition: opacity 0.2s;
}
@media only screen and (max-width: 1201px) {
  .menu-box__overlay {
    height: 40rem;
  }
}
@media only screen and (max-width: 1024px) {
  .menu-box__overlay {
    height: 30rem;
  }
}
@media only screen and (max-width: 768px) {
  .menu-box__overlay {
    height: 16rem;
  }
}
@media only screen and (max-width: 480px) {
  .menu-box__overlay {
    height: 12rem;
  }
}
.menu-box:hover .menu-box__title {
  font-size: 2.3rem;
}
@media only screen and (max-width: 1201px) {
  .menu-box:hover .menu-box__title {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .menu-box:hover .menu-box__title {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .menu-box:hover .menu-box__title {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 480px) {
  .menu-box:hover .menu-box__title {
    font-size: 1.4rem;
  }
}
.menu-box:hover .menu-box__overlay {
  opacity: 0.5;
}
.menu-box__content {
  text-align: left;
  width: 85%;
  opacity: 0;
  transition: all 0.2s;
  overflow: hidden;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .menu-box__content {
    opacity: 1;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 480px) {
  .menu-box__content {
    font-size: 1.15rem;
  }
}
.menu-box:hover .menu-box__content {
  opacity: 1;
}
.menu-box__text {
  font-size: 1.5rem;
}

.menu-cards {
  max-width: 2000px;
  margin: auto;
}
@media only screen and (max-width: 1201px) {
  .menu-cards {
    max-width: 1100px;
  }
}
@media only screen and (max-width: 1024px) {
  .menu-cards {
    max-width: 700px;
  }
}
@media only screen and (max-width: 768px) {
  .menu-cards {
    max-width: 400px;
  }
}
@media only screen and (max-width: 480px) {
  .menu-cards {
    max-width: 90%;
  }
}

.menu-container {
  display: flex;
  max-width: 100%;
  justify-content: center;
  max-width: 100%;
}

.our-menu {
  max-width: 1000px;
  margin-bottom: 4rem;
  padding: 6rem 4rem;
  font-family: "Kalam", cursive;
  background-color: #000000;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 10px #261c1c;
  z-index: 1;
}
@media only screen and (max-width: 1201px) {
  .our-menu {
    max-width: 800px;
    padding: 4rem 2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .our-menu {
    max-width: 660px;
  }
}
@media only screen and (max-width: 768px) {
  .our-menu {
    max-width: 400px;
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 480px) {
  .our-menu {
    max-width: 90%;
    padding: 1rem 0.5rem;
    margin-bottom: 2rem;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px 6px #261c1c;
  }
}
.our-menu .heading-tertiary {
  font-size: 2rem;
  font-family: "Varela";
  font-weight: 400;
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 1201px) {
  .our-menu .heading-tertiary {
    font-size: 31.2px;
  }
}
@media only screen and (max-width: 1024px) {
  .our-menu .heading-tertiary {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .our-menu .heading-tertiary {
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  .our-menu .heading-tertiary {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1201px) {
  .our-menu p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1024px) {
  .our-menu p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .our-menu p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .our-menu p {
    font-size: 14px;
  }
}

.bold-menu {
  font-weight: bold;
  font-size: 1.2rem;
}
@media only screen and (max-width: 1201px) {
  .bold-menu {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 1024px) {
  .bold-menu {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 768px) {
  .bold-menu {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 480px) {
  .bold-menu {
    font-size: 1.2rem;
  }
}

.menu-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 480px) {
  .menu-desc {
    align-items: center;
  }
}

.menu-item-box {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 480px) {
  .menu-item-box {
    flex-direction: column;
    align-items: center;
    flex-direction: column-reverse;
  }
}

.menu-img {
  height: 100px;
  border-radius: 8px;
}
@media only screen and (max-width: 1201px) {
  .menu-img {
    height: 200px;
  }
}
@media only screen and (max-width: 768px) {
  .menu-img {
    height: 140px;
  }
}
@media only screen and (max-width: 480px) {
  .menu-img {
    width: 280px;
    height: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 100vh;
  overflow-y: auto;
  background: #eee url('data:image/svg+xml,   <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill-opacity="0.8" >            <rect x="200" width="200" height="200" />            <rect y="200" width="200" height="200" />            </svg>');
  background-size: 90px 90px;
  border-radius: 20px;
  background-position: 50% 55.5%;
}
@media only screen and (max-width: 1201px) {
  .background {
    width: 100vw;
    height: 92vh;
  }
}
@media only screen and (max-width: 480px) {
  .background {
    height: 100vh;
    border-radius: 0;
  }
}
.background__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 65vw;
  height: 96vh;
  border: 20px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
@media only screen and (max-width: 1201px) {
  .background__inner {
    width: 95vw;
    height: 89vh;
    border: 10px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .background__inner {
    height: 96vh;
    border: 6px solid rgba(0, 0, 0, 0.5);
  }
}
.background__click-away {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.menu-logo {
  align-self: center;
  max-width: 220px;
  z-index: 100000;
  position: relative;
  top: 0;
  margin-top: 0rem;
}
@media only screen and (max-width: 768px) {
  .menu-logo {
    max-width: 180px;
  }
}
@media only screen and (max-width: 480px) {
  .menu-logo {
    max-width: 210px;
  }
}

li {
  margin-top: 5px;
  margin-bottom: 15px;
  list-style: none;
}
@media only screen and (max-width: 1201px) {
  li {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 480px) {
  li {
    margin-bottom: 6px;
  }
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  justify-content: center;
  align-items: center;
  text-align: left;
}
.modal__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0;
  padding-bottom: 1rem;
  width: 50vw;
  height: 100vh;
  border-radius: 8px;
  font-size: 1rem;
  color: #303030;
  position: relative;
  z-index: 10000;
  overflow-y: auto;
}
@media only screen and (max-width: 1201px) {
  .modal__content {
    width: 70vw;
    height: 98vh;
  }
}
@media only screen and (max-width: 768px) {
  .modal__content {
    width: 78vw;
    height: 98vh;
  }
}
@media only screen and (max-width: 480px) {
  .modal__content {
    align-items: center;
    width: 88vw;
    height: 100vh;
    border-radius: 0;
  }
}
.modal__content ul {
  list-style: none;
  max-width: 100%;
  padding-bottom: 1rem;
}
.modal__content h2 {
  font-size: 2rem;
  margin-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  margin-bottom: 3rem;
  align-self: center;
}
@media only screen and (max-width: 1201px) {
  .modal__content h2 {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
  }
}
@media only screen and (max-width: 768px) {
  .modal__content h2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 480px) {
  .modal__content h2 {
    margin-bottom: 1rem;
  }
}
.modal__content p {
  margin-bottom: 0.5rem;
  max-width: 80%;
}
@media only screen and (max-width: 1201px) {
  .modal__content p {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 1024px) {
  .modal__content p {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .modal__content p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  .modal__content p {
    max-width: 85%;
    font-size: 1rem;
    text-align: center;
  }
}
.modal__close {
  position: absolute;
  top: 5%;
  right: 21%;
  font-size: 3rem;
  color: black;
  text-decoration: none;
  z-index: 10001;
}
@media only screen and (max-width: 1201px) {
  .modal__close {
    top: 8%;
    right: 7%;
  }
}
@media only screen and (max-width: 1024px) {
  .modal__close {
    right: 7%;
  }
}
@media only screen and (max-width: 768px) {
  .modal__close {
    right: 9%;
  }
}
@media only screen and (max-width: 480px) {
  .modal__close {
    top: 3%;
    right: 8%;
  }
}
.modal:target {
  display: flex;
}

.modal__content::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Hide scrollbar for Firefox */
.modal__content {
  scrollbar-width: none;
}

/* For IE and Edge */
.modal__content {
  -ms-overflow-style: none;
}

.fullscreen-modal {
  display: none;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.97);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#modal-1:target,
#modal-2:target,
#modal-3:target,
#modal-4:target,
#modal-5a:target,
#modal-5:target,
#modal-6:target,
#modal-7:target,
#modal-8:target,
#modal-9:target,
#modal-10:target,
#modal-11:target,
#modal-12:target,
#modal-13:target,
#modal-14:target,
#modal-15:target,
#modal-16:target,
#modal-17:target,
#modal-18:target,
#modal-19:target {
  display: flex;
}

.fullscreen-content {
  max-width: 90%;
  max-height: 80%;
  margin: auto;
  display: block;
}

/* Close button */
.close-modal {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
  color: #bbb;
  text-decoration: none;
}

.story-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 200%;
  overflow: hidden;
}
.story-bg__content {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.story-bg__overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 50%;
  width: 100%;
  background-color: #000000;
  opacity: 0.7;
  z-index: 2;
}

.our-story-bg {
  position: relative;
  bottom: 1550px;
  right: 2100px;
  scale: 0.3;
}
@media only screen and (min-width: 1680px) {
  .our-story-bg {
    scale: 0.6;
  }
}

.story {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 7px 7px 6px 0px rgba(0, 0, 0, 0.35);
  display: block;
  border-radius: 1.5rem;
  overflow: hidden;
  color: #525252;
}
@media only screen and (max-width: 768px) {
  .story {
    width: 90%;
  }
}
.story__shape {
  float: left;
  width: 7rem;
  height: 7rem;
}
@supports (-webkit-shape-outside: circle()) or (shape-outside: circle()) {
  .story__shape {
    width: 10.2rem;
    height: 10.2rem;
    -webkit-clip-path: circle(90% at 3% 8%);
    clip-path: circle(90% at 3% 8%);
    -webkit-shape-outside: circle(100% at 3% 8%);
    shape-outside: circle(100% at 3% 8%);
    transform: translate(-2rem);
  }
}
.story__image {
  height: 120%;
  position: relative;
  bottom: 35px;
  left: -10px;
  transition: all 0.2s;
}
.story:hover .story__image {
  transform: scale(1.4);
  filter: blur(3px) brightness(80%);
}
.story__para {
  font-size: 15px;
  line-height: 1.3rem;
}
@media only screen and (max-width: 1024px) {
  .story__para {
    font-size: 14px;
  }
}
.story__text {
  padding: 1.875rem;
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0;
  transition: all 0.5s;
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -80%);
}
.story--1 {
  float: left;
  margin-left: 3rem;
}
@media only screen and (max-width: 768px) {
  .story--1 {
    margin-left: 0;
    float: none;
  }
}
.story--2 {
  float: right;
  margin-right: 3rem;
  margin-top: 7rem;
}
@media only screen and (max-width: 768px) {
  .story--2 {
    margin-right: 0;
    margin-top: 1rem;
    float: none;
  }
}

.first {
  height: 120%;
  position: relative;
  top: 0px;
  left: 0px;
  transition: all 0.2s;
}

.story-row {
  max-width: 1400px;
  align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .story-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 94vw;
  }
}
@media only screen and (max-width: 480px) {
  .story-row {
    max-width: 100vw;
  }
}

.location {
  height: 450px;
  color: #fff;
  perspective: 120rem;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .location {
    height: auto;
    background-color: #fff;
    margin-bottom: 1.5rem;
  }
}
.location__side {
  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  transition: all 0.9s;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .location__side {
    height: 350px;
    position: relative;
    border-radius: 0;
  }
}
.location__side--front {
  background-color: #fff;
  border-radius: 30px 0 30px 0;
}
@media only screen and (max-width: 768px) {
  .location__side--front {
    border-radius: 0;
  }
}
.location__side--back {
  background-color: #1f1f1f;
  transform: rotateY(180deg);
  border: 2px solid rgb(219, 219, 219);
  border-radius: 0 30px 0 30px;
}
@media only screen and (max-width: 768px) {
  .location__side--back {
    transform: rotateY(0);
    border-radius: 0;
  }
}
.location__side--back-1 {
  background-image: linear-gradient(to right bottom, rgba(89, 89, 89, 0.5), rgba(0, 0, 0, 0.5)), url(../img/back-img-1.jpg);
}
.location__side--back-2 {
  background-image: linear-gradient(to right bottom, rgba(89, 89, 89, 0.5), rgba(0, 0, 0, 0.5)), url(../img/back-img-2.jpg);
}
.location__side--back-3 {
  background-image: linear-gradient(to right bottom, rgba(89, 89, 89, 0.5), rgba(0, 0, 0, 0.5)), url(../img/back-img-3.jpg);
}
.location__side--back-4 {
  background-image: linear-gradient(to right bottom, rgba(89, 89, 89, 0.5), rgba(0, 0, 0, 0.5)), url(../img/back-img-4.jpg);
}
@media only screen and (max-width: 1024px) {
  .location__side--back-4 {
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
.location:hover .location__side--front {
  transform: rotateY(-180deg);
}
@media only screen and (max-width: 768px) {
  .location:hover .location__side--front {
    transform: rotateY(0);
  }
}
.location:hover .location__side--back {
  transform: rotateY(0);
}
.location__image {
  height: 450px;
  background-size: cover;
  scale: 1.2;
  background-position: 50% 50%;
}
@media only screen and (max-width: 1024px) {
  .location__image {
    scale: 1;
  }
}
.location__image--1 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(14, 0, 0, 0.4)), url(../img/location-img-1.jpg);
}
.location__image--2 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(14, 0, 0, 0.4)), url(../img/location-img-2.jpg);
}
.location__image--3 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(14, 0, 0, 0.4)), url(../img/location-img-3.jpg);
}
.location__image--4 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(14, 0, 0, 0.4)), url(../img/location-img-4.jpg);
}
.location__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .location__content {
    align-items: center;
  }
}
.location__content h3 {
  font-size: 1.2rem;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .location__content h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 480px) {
  .location__content h3 {
    font-size: 1.2rem;
  }
}
.location__heading {
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  position: absolute;
  top: 2rem;
  right: 1rem;
  width: 12rem;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-image: linear-gradient(to right bottom, rgba(174, 174, 174, 0.28), rgba(135, 108, 100, 0.45));
}
@media only screen and (max-width: 1201px) {
  .location__heading {
    font-size: 1.65rem;
    padding: 1.5rem;
    width: 12.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  .location__heading {
    font-size: 1.65rem;
    padding: 1.5rem;
    width: 12.5rem;
  }
}
.location__button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  text-align: center;
  height: auto;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7019607843);
}
@media only screen and (max-width: 768px) {
  .location__button {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    height: 350px;
    padding: 4rem;
    border-radius: 0;
  }
}
@media only screen and (max-width: 480px) {
  .location__button {
    padding: 15px;
  }
}

.location-box {
  border-radius: 3px;
  box-shadow: 2px 1px 2px 0px #d1d1d1;
  width: 28rem;
  height: 40rem;
  color: #fff;
  position: relative;
  list-style: none;
}
@media only screen and (max-width: 768px) {
  .location-box {
    width: 50rem;
    margin: 1.5rem auto;
  }
}
.location-box__text {
  font-size: 16px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1201px) {
  .location-box__text {
    font-size: 14px;
    padding-inline: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .location-box__text {
    max-width: 80%;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .location-box__text {
    padding-inline: 0;
  }
}

.location-row {
  display: flex;
  align-items: center;
  text-align: center;
}
@media only screen and (max-width: 1201px) {
  .location-row {
    flex-wrap: wrap;
    max-width: 91vw;
  }
}
@media only screen and (max-width: 768px) {
  .location-row {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1201px) {
  .row [class^=col-] {
    flex: 0 1 calc(48% - 2rem);
  }
}
@media only screen and (max-width: 768px) {
  .row [class^=col-] {
    margin-left: 0;
    margin-right: 0;
  }
}

.contact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  background-image: url(img/contact-form-img-2.jpg);
  background-size: cover;
  background-position: 54% 50%;
  border-radius: 3rem;
  box-shadow: 4px 4px 4px rgb(0, 0, 0);
  overflow: hidden;
}
@media only screen and (max-width: 1201px) {
  .contact {
    width: 80vw;
  }
}
@media only screen and (max-width: 1024px) {
  .contact {
    width: 90vw;
  }
}
@media only screen and (max-width: 768px) {
  .contact {
    width: 95vw;
  }
}
.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 3rem;
}
.contact__form {
  position: relative;
  z-index: 2;
  width: 80%;
  padding: 3rem;
}
@media only screen and (max-width: 1201px) {
  .contact__form {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .contact__form {
    padding: 2rem;
  }
}

.form__radio-container {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 768px) {
  .form__radio-container {
    width: 250px;
  }
}
@media only screen and (max-width: 480px) {
  .form__radio-container {
    width: 200px;
  }
}
.form__radio-container .form__radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  .form__radio-container .form__radio-group {
    width: 200px;
  }
}
@media only screen and (max-width: 480px) {
  .form__radio-container .form__radio-group {
    width: 150px;
  }
}

.contact-row {
  max-width: 100%;
}

.form__input {
  font-size: 1rem;
  padding: 1rem 1.5rem;
  background-color: #f5f5f5;
  border: none;
  width: 400px;
  border-radius: 20px;
  color: #333;
  font-family: inherit;
  opacity: 1;
  border-bottom: 3px solid transparent;
}
@media only screen and (max-width: 768px) {
  .form__input {
    width: 300px;
  }
}
@media only screen and (max-width: 480px) {
  .form__input {
    width: 200px;
  }
}
.form__input::-webkit-input-placeholder {
  color: #333;
}
.form__input:focus {
  outline: none;
  box-shadow: 2px 2px 1px white;
  border-bottom: 3px solid #270101;
}
.form__input:invalid {
  border-bottom: 3px solid #a3a3a3;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
}
.form__input::placeholder {
  color: #a3a3a3;
  font-size: 1rem;
}
.form__label {
  opacity: 0;
  display: none;
}
.form__group {
  margin-bottom: 2rem;
}
.form__radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 480px) {
  .form__radio-group {
    width: 40%;
  }
}
.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1;
}
.form__radio-label {
  font-size: 0.9rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  position: relative;
}
@media only screen and (max-width: 480px) {
  .form__radio-label {
    font-size: 0.8rem;
    padding-left: 0;
  }
}
.form__radio-input {
  display: none;
}
.form__radio-button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-image: url(img/hamburger.jpg);
  background-position: 55% 50%;
  display: inline-block;
  margin-right: 1rem;
  position: relative;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  border: 12px solid black;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s;
}
.form__textarea {
  border-radius: 20px;
  background-color: #f5f5f5;
  border: none;
  font-family: inherit;
  color: #333;
  width: 500px;
  height: 8rem;
  padding: 1rem;
  margin: 0.5rem 0 1rem;
}
@media only screen and (max-width: 768px) {
  .form__textarea {
    width: 300px;
  }
}
@media only screen and (max-width: 480px) {
  .form__textarea {
    width: 100%;
  }
}
.form__textarea::placeholder {
  color: #a3a3a3;
  font-size: 1rem;
  padding-left: 10px;
}

.menu-section,
.about-section,
.story-section,
.where-section {
  position: relative;
  padding: 4rem 0 5rem;
}
@media only screen and (max-width: 1024px) {
  .menu-section,
  .about-section,
  .story-section,
  .where-section {
    padding: 2rem 0;
  }
}

.about-section {
  background-color: #fff;
}

.menu-section {
  background-color: #000;
}

.story-section {
  position: relative;
}

.where-section {
  background-color: #000;
}

.contact-section {
  padding-top: 4rem;
  background-color: #fff;
}
@media only screen and (max-width: 768px) {
  .contact-section {
    padding-top: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
