@mixin center-object {
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin top-border {
  border-top: 1px solid $grey-dark;
  padding-top: 1rem;
  display: inline-block;
}

/* MEDIA QUERY BREAKPOINTS 
    0-576px for portrait phones.
    577-768px for tablets in portrait mode.
    769-991 for tablets in landcape mode.
    992-1200px for laptops.
    1200px+ for large devices.


*/

// NEW MEDIA QUERY BREAKPOINTS
// 	For Mobile Devices – 320px — 480px
// 	iPads and Tablets – 481px — 768px
// 	Laptops and small screen – 769px — 1024px
// 	Large screens and Desktops – 1025px — 1200px
// 	TV and Extra Large Screens – 1201px and more

@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }

  @if $breakpoint==tab-port {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint==tab-land {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }

  @if $breakpoint==big-desktop {
    @media only screen and (max-width: 1201px) {
      @content;
    }
  }
}
