//COLORS

$primary-light: #1a0808;
$primary-dark:#0e0000;
$primary-light:#000000;

$secondary-1:#aeaeaeb3;
$secondary-2:#bbd4eb;
$secondary-3:#B398B0;
$secondary-4:#9d0000;


$secondary-1-dark:#876C64;
$secondary-2-dark:#707F8D;
$secondary-3-dark:#80657D;

$secondary-light:#9d0000;
$tertiary-light:#2998ff;

$white:#fff;
$black:#000;
$red:#270101;
$brown:#270101;


$grey-dark:#777;
$grey-dark-2:#999;
$grey-dark-3:#333;
$grey-light-1:#f7f7f7;
$grey-light-2:#eee;

$light-grey: #d1d1d1;

//FONTS

$default-font-size:1.6rem;

//GRID VARIABLES

$horizontal-gutter:6rem;
$vertical-gutter:8rem;
$vertical-gutter-small:4rem;