//COLORS

$primary-light: #595959;
$primary-dark: #000000;
$primary-dark-1: #0e0000;
$primary-dark-2: #1a0808;

$secondary-1: #aeaeaeb3;
$secondary-2: #bbd4eb;
$secondary-3: #b398b0;
$secondary-4: #ff6666;
$secondary-5: #9d0000;

$secondary-1-dark: #876c64;
$secondary-2-dark: #707f8d;
$secondary-3-dark: #80657d;

$secondary-light: #9d0000;
$tertiary-light: #2998ff;

$white: #fff;
$black: #000;
$red: #270101;
$brown: #270101;

$grey-dark: #777;
$grey-dark-2: #999;
$grey-dark-3: #333;
$grey-light-1: #f7f7f7;
$grey-light-2: #eee;

$light-grey: #d1d1d1;

//FONTS

$default-font-size: 1rem;

//GRID VARIABLES

$horizontal-gutter: 6rem;
$vertical-gutter: 8rem;
$vertical-gutter-small: 4rem;
