.footer {
  background-color: $black;
  padding: 3rem 0;
  margin-top: 5rem;

  @include respond(tab-port) {
    padding: 2rem 0;
  }

  &__navigation {
    width: 40vw;
    text-align: center;

    @include top-border;

    @include respond(tab-port) {
      display: block;
    }
    @include respond(phone) {
      display: block;
    }
  }

  &__list {
    list-style: none;

    @include respond(tab-port) {
      list-style: none;
      display: flex;
      flex-direction: column;
      text-align: end;
      align-items: flex-end;
    }

    @include respond(phone) {
      list-style: none;
      display: flex;
      flex-direction: column;
      text-align: end;
      align-items: flex-end;
    }
  }

  &__item {
    display: inline-block;
    margin-right: 5px;

    @include respond(phone) {
      //   font-size: 1.2rem;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;

    &:link,
    &:visited {
      color: $grey-light-1;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      color: $secondary-4;
      box-shadow: 0 1rem 2rem rgba($black, 0.4);
    }
  }

  &__copyright {
    color: $grey-light-1;
    @include top-border;
    width: 40vw;

    float: right;

    @include respond(tab-port) {
    }
    @include respond(phone) {
      float: none;
    }
  }

  &__copyright-box {
    margin-right: 1rem;
  }

  &__author {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: $secondary-4;

    &:link,
    &:visited {
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      box-shadow: 0 1rem 2rem rgba($black, 0.4);
      transform: rotate(3deg) scale(1.2);
    }
  }

  &__logo-box {
    text-align: center;
  }

  &__logo img {
    width: 16rem;

    @include respond(phone) {
      width: 6rem;
      margin-bottom: 10px;
    }
  }
}

.footer-small {
  font-size: 1.1rem;
}

.footer-width {
  display: flex;
  justify-content: space-between;
  margin: auto;
  @include respond(phone) {
    // margin-left: 3rem;
  }
}
