.footer {
  background-color: $black;
  padding: 2rem 0;
  margin-top: 3rem;

  @include respond(tab-port) {
    padding: 1rem 0;
  }

  &__navigation {
    width: 45vw;
    text-align: center;
    @include top-border;

    @include respond(tab-port) {
      display: block;
    }
  }

  &__list {
    list-style: none;

    @include respond(tab-port) {
      list-style: none;
      display: flex;
      flex-direction: column;
      text-align: end;
      align-items: flex-end;
    }
  }

  &__item {
    display: inline-block;
    margin-right: 20px;
    margin-top: 1px;
    margin-bottom: 0;

    @include respond(tab-land) {
      margin-right: 5px;
    }
    @include respond(tab-port) {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;

    &:link,
    &:visited {
      color: $grey-light-1;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      color: $secondary-4;
      box-shadow: 0 1rem 2rem rgba($black, 0.4);
    }
  }

  &__copyright {
    color: $grey-light-1;
    @include top-border;
    width: 45vw;
    float: right;

    @include respond(phone) {
      float: none;
    }
  }

  &__copyright-box {
    margin-right: 1rem;
  }

  &__author {
    text-decoration: none;
    display: inline-block;
    color: $secondary-4;

    &:link,
    &:visited {
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      box-shadow: 0 1rem 2rem rgba($black, 0.4);
      transform: rotate(3deg) scale(1.2);
    }
  }

  &__logo-box {
    text-align: center;
  }

  &__logo img {
    width: 9rem;

    @include respond(phone) {
      width: 3.5rem;
    }
  }
}

.footer-width {
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 12px;

  @include respond(phone) {
    font-size: 10px;
  }
}
