.row {
  display: flex;
  justify-content: space-between;
  margin: auto;

  @include respond(tab-port) {
    max-width: 70rem;
    text-align: left;
    justify-content: center;
  }

  @include respond(phone) {
    max-width: 100%;
  }

  .col-1-of-4 {
    flex: 0 1 calc(25% - 1rem);
    margin-bottom: 1.5rem;
    margin-inline: 1rem;

    @include respond(tab-port) {
      flex: 0 1 calc(50% - 1rem);
    }

    @include respond(phone) {
      flex: 0 1 100%;
      margin-bottom: 0;
    }
  }
}
