.form {

	&__input {
		font-size:1.5rem;
		padding:1.5rem 2rem;
		background-color: #f5f5f5;
		border:none;
		width:50%;
		border-radius:20px;
		color:$grey-dark-3;
		font-family:inherit;
		opacity:1;
		border-bottom:3px solid transparent;

		@include respond(phone) {
			width: 80%;
		}

		&::-webkit-input-placeholder {
			color:$grey-dark-3;
		}

		&:focus {
			outline:none;
			box-shadow: 2px 2px 1px rgba($white,1);
			border-bottom:3px solid $red;
		}

		&:invalid {
			border-bottom:3px solid #a3a3a3;
		}
	}

	&__input:placeholder-shown + &__label {
		opacity:0;
		transform:translateY(-4rem);
	}

	&__input::placeholder {
		color: #a3a3a3;
		font-size: 1.1rem;
	}
	

	&__label {
		font-size:1rem;
		font-weight:700;
		margin: .7rem 2rem 2rem;
		color:$white;
		display:block;
		transition:all .3s;
	}

	&__group {
		margin-bottom: 2rem;
	}

	&__radio-group {
		display:inline-block;
		width:30%;

		@include respond(phone) {
			width: 40%;
		}
	}

	&__radio-input:checked + &__radio-label &__radio-button::after {
		opacity:1;
	}

	&__radio-label {
		font-size: 1.1rem;
		color:$white;
		display:inline-block;
		cursor:pointer;
		padding-left: 5rem;
		position:relative;

		@include respond(phone) {
			font-size: 1rem;
			padding-left: 4rem;
			padding-right: 0.9rem;
		}
	}

	&__radio-input {
		display:none;
	}

	&__radio-button {
		height:3rem;
		width:3rem;
		border-radius:50%;
		background-image:url(img/hamburger.jpg);
		background-position: 55% 50%; 
		display:inline-block;
		position:absolute;
		top:0;
		left:0;

		&::after {
			content:"";
			display:block;
			height:3rem;
			width:3rem;
			border-radius:50%;
			background-color: #0000008a;
			position:absolute;
			top:50%;
			@include center-object;
			opacity:0;
			transition:opacity .2s;
		}
	}

	&__textarea {
		border-radius:20px;
		background-color: #f5f5f5;
		border:none;
		font-family:inherit;
		color:$grey-dark-3;
		width:85%;
		height:10rem;
		padding:1.5rem 1rem;
		margin: .5rem 0 1.5rem;
	}

	&__textarea::placeholder {
		color: #a3a3a3;
		font-size: 1.1rem;
		padding-left: 10px;
	}

}