.form {
  &__input {
    font-size: 1rem;
    padding: 1rem 1.5rem;
    background-color: #f5f5f5;
    border: none;
    width: 400px;
    border-radius: 20px;
    color: $grey-dark-3;
    font-family: inherit;
    opacity: 1;
    border-bottom: 3px solid transparent;

    @include respond(tab-port) {
      width: 300px;
    }
    @include respond(phone) {
      width: 200px;
    }

    &::-webkit-input-placeholder {
      color: $grey-dark-3;
    }

    &:focus {
      outline: none;
      box-shadow: 2px 2px 1px rgba($white, 1);
      border-bottom: 3px solid $red;
    }

    &:invalid {
      border-bottom: 3px solid #a3a3a3;
    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
  }

  &__input::placeholder {
    color: #a3a3a3;
    font-size: 1rem;
  }

  &__label {
    opacity: 0;
    display: none;
  }

  &__group {
    margin-bottom: 2rem;
  }

  &__radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    @include respond(phone) {
      width: 40%;
    }
  }

  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }

  &__radio-label {
    font-size: 1rem;
    color: $white;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    position: relative;

    @include respond(phone) {
      font-size: 0.8rem;
      padding-left: 0;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-button {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-image: url(img/hamburger.jpg);
    background-position: 55% 50%;
    display: inline-block;
    margin-right: 1rem;
    position: relative;

    &::after {
      content: "";
      display: block;
      height: 1rem;
      width: 1rem;
      border: 12px solid black;
      border-radius: 50%;
      background-color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__textarea {
    border-radius: 20px;
    background-color: #f5f5f5;
    border: none;
    font-family: inherit;
    color: $grey-dark-3;
    width: 500px;
    height: 8rem;
    padding: 1rem;
    margin: 0.5rem 0 1rem;

    @include respond(tab-port) {
      width: 300px;
    }
    @include respond(phone) {
      width: 100%;
    }
  }

  &__textarea::placeholder {
    color: #a3a3a3;
    font-size: 1rem;
    padding-left: 10px;
  }
}
