.location {
  height: 450px;
  color: $white;
  perspective: 120rem;
  position: relative;

  @include respond(tab-port) {
    height: auto;
    background-color: $white;
    margin-bottom: 1.5rem;
  }

  &__side {
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    transition: all 0.9s;
    overflow: hidden;

    @include respond(tab-port) {
      height: 350px;
      position: relative;
      border-radius: 0;
    }

    &--front {
      background-color: $white;
      border-radius: 30px 0 30px 0;

      @include respond(tab-port) {
        border-radius: 0;
      }
    }

    &--back {
      background-color: #1f1f1f;
      transform: rotateY(180deg);
      border: 2px solid rgb(219, 219, 219);
      border-radius: 0 30px 0 30px;

      @include respond(tab-port) {
        transform: rotateY(0);
        border-radius: 0;
      }

      &-1 {
        background-image: linear-gradient(
            to right bottom,
            rgba($primary-light, 0.5),
            rgba($primary-dark, 0.5)
          ),
          url(../img/back-img-1.jpg);
      }

      &-2 {
        background-image: linear-gradient(
            to right bottom,
            rgba($primary-light, 0.5),
            rgba($primary-dark, 0.5)
          ),
          url(../img/back-img-2.jpg);
      }

      &-3 {
        background-image: linear-gradient(
            to right bottom,
            rgba($primary-light, 0.5),
            rgba($primary-dark, 0.5)
          ),
          url(../img/back-img-3.jpg);
      }

      &-4 {
        background-image: linear-gradient(
            to right bottom,
            rgba($primary-light, 0.5),
            rgba($primary-dark, 0.5)
          ),
          url(../img/back-img-4.jpg);

        @include respond(tab-land) {
          background-repeat: no-repeat;
          background-size: 100%;
        }
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);

    @include respond(tab-port) {
      transform: rotateY(0);
    }
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__image {
    height: 450px;
    background-size: cover;
    scale: 1.2;
    background-position: 50% 50%;

    @include respond(tab-land) {
      scale: 1;
    }

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          rgba($primary-dark, 0.4),
          rgba($primary-dark-1, 0.4)
        ),
        url(../img/location-img-1.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          rgba($primary-dark, 0.4),
          rgba($primary-dark-1, 0.4)
        ),
        url(../img/location-img-2.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          rgba($primary-dark, 0.4),
          rgba($primary-dark-1, 0.4)
        ),
        url(../img/location-img-3.jpg);
    }

    &--4 {
      background-image: linear-gradient(
          to right bottom,
          rgba($primary-dark, 0.4),
          rgba($primary-dark-1, 0.4)
        ),
        url(../img/location-img-4.jpg);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;

    @include respond(tab-port) {
      align-items: center;
    }

    h3 {
      font-size: 1.2rem;
      text-align: center;

      @include respond(tab-port) {
        font-size: 1.5rem;
      }
      @include respond(phone) {
        font-size: 1.2rem;
      }
    }

    .btn:link,
    .btn:visited {
    }
  }

  &__heading {
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: absolute;
    top: 2rem;
    right: 1rem;
    width: 12rem;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    background-image: linear-gradient(
      to right bottom,
      rgba($secondary-1, 0.28),
      rgba($secondary-1-dark, 0.45)
    );

    @include respond(big-desktop) {
      font-size: 1.65rem;
      padding: 1.5rem;
      width: 12.5rem;
    }
    @include respond(tab-land) {
      font-size: 1.65rem;
      padding: 1.5rem;
      width: 12.5rem;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    @include center-object;
    width: 90%;
    text-align: center;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    background-color: #000000b3;

    @include respond(tab-port) {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      height: 350px;
      padding: 4rem;
      border-radius: 0;
    }
    @include respond(phone) {
      padding: 15px;
    }
  }
}

.location-box {
  border-radius: 3px;
  box-shadow: 2px 1px 2px 0px rgba($light-grey, 100);
  width: 28rem;
  height: 40rem;
  color: $white;
  position: relative;
  list-style: none;

  @include respond(tab-port) {
    width: 50rem;
    margin: 1.5rem auto;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 20px;

    @include respond(big-desktop) {
      font-size: 14px;
      padding-inline: 1rem;
    }

    @include respond(tab-port) {
      max-width: 80%;
      text-align: center;
    }
    @include respond(phone) {
      padding-inline: 0;
    }
  }
}

.location-row {
  display: flex;
  align-items: center;
  text-align: center;

  @include respond(big-desktop) {
    flex-wrap: wrap;
    max-width: 91vw;
  }
  @include respond(tab-port) {
    flex-direction: column;
  }
}

.row [class^="col-"] {
  @include respond(big-desktop) {
    flex: 0 1 calc(48% - 2rem);
  }

  @include respond(tab-port) {
    margin-left: 0;
    margin-right: 0;
  }
}
