#menu {
  background-image: url("../img/menu-section-bg.png");
  background-size: 30%;
  background-position: 80% 7%;
  background-repeat: repeat-x;

  @include respond(big-desktop) {
    background-position: 80% 3.5%;
  }
  @include respond(tab-land) {
    background-position: 80% 2.5%;
  }
  @include respond(tab-port) {
    background-position: 80% 4.5%;
  }
  @include respond(phone) {
    background-position: 80% 7.5%;
  }
}

.menu-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  box-shadow: 2px 1px 2px 0px rgba($light-grey, 100);
  width: 20%;
  height: 28rem;
  color: $white;
  position: relative;
  background-size: cover;

  @include respond(big-desktop) {
    width: 30rem;
    height: 40rem;
    margin-bottom: 50px;
  }
  @include respond(tab-land) {
    width: 24rem;
    height: 30rem;
  }
  @include respond(tab-port) {
    width: 48%;
    height: 16rem;
    margin: 0.2rem auto;
  }
  @include respond(phone) {
    height: 12rem;
  }

  &--1 {
    background-image: linear-gradient(
        to right bottom,
        rgba($primary-dark-1, 0.5),
        rgba($primary-dark, 0.5)
      ),
      url(../img/menu-img-1.jpg);
    background-position: 78% 50%;
  }

  &--2 {
    background-image: linear-gradient(
        to right bottom,
        rgba($primary-dark-1, 0.5),
        rgba($primary-dark, 0.5)
      ),
      url(../img/menu-img-2.jpg);
    background-position: 78% 50%;
  }

  &--3 {
    background-image: linear-gradient(
        to right bottom,
        rgba($primary-dark-1, 0.5),
        rgba($primary-dark, 0.5)
      ),
      url(../img/menu-img-3.jpg);
    background-position: 78% 50%;
  }

  &--4 {
    background-image: linear-gradient(
        to right bottom,
        rgba($primary-dark-1, 0.5),
        rgba($primary-dark, 0.5)
      ),
      url(../img/menu-img-4.jpg);
    background-position: 78% 50%;
  }

  &__title {
    font-size: 2.2rem;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    z-index: 1;
    @include center-object;
    opacity: 0.8;
    transition: opacity 0.2s;
    transition: font-size 0.1s ease, opacity 0.3s ease-in-out;

    @include respond(big-desktop) {
      font-size: 3rem;
    }
    @include respond(tab-land) {
      font-size: 2rem;
    }
    @include respond(tab-port) {
      font-size: 1.6rem;
    }
    @include respond(phone) {
      font-size: 1.2rem;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 28rem;
    background-image: linear-gradient(
      to right bottom,
      $primary-dark,
      $primary-dark-1
    );
    opacity: 0.2;
    transition: opacity 0.2s;

    @include respond(big-desktop) {
      height: 40rem;
    }
    @include respond(tab-land) {
      height: 30rem;
    }
    @include respond(tab-port) {
      height: 16rem;
    }
    @include respond(phone) {
      height: 12rem;
    }
  }

  &:hover &__title {
    font-size: 2.3rem;

    @include respond(big-desktop) {
      font-size: 3.2rem;
    }
    @include respond(tab-land) {
      font-size: 2.2rem;
    }
    @include respond(tab-port) {
      font-size: 1.8rem;
    }
    @include respond(phone) {
      font-size: 1.4rem;
    }
  }

  &:hover &__overlay {
    opacity: 0.5;
  }

  &__content {
    text-align: left;
    width: 85%;
    opacity: 0;
    transition: all 0.2s;
    overflow: hidden;
    z-index: 1;

    @include respond(tab-port) {
      opacity: 1;
      font-size: 1.4rem;
    }
    @include respond(phone) {
      font-size: 1.15rem;
    }
  }

  &:hover &__content {
    opacity: 1;
  }

  &__text {
    font-size: 1.5rem;
  }
}

.menu-cards {
  max-width: 2000px;
  margin: auto;

  @include respond(big-desktop) {
    max-width: 1100px;
  }
  @include respond(tab-land) {
    max-width: 700px;
  }
  @include respond(tab-port) {
    max-width: 400px;
  }
  @include respond(phone) {
    max-width: 90%;
  }
}

.menu-container {
  display: flex;
  max-width: 100%;
  justify-content: center;
  max-width: 100%;
}

.our-menu {
  max-width: 1000px;
  margin-bottom: 4rem;
  padding: 6rem 4rem;
  font-family: "Kalam", cursive;
  background-color: #000000;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 10px #261c1c;
  z-index: 1;

  @include respond(big-desktop) {
    max-width: 800px;
    padding: 4rem 2rem;
  }
  @include respond(tab-land) {
    max-width: 660px;
  }
  @include respond(tab-port) {
    max-width: 400px;
    margin-bottom: 4rem;
  }
  @include respond(phone) {
    max-width: 90%;
    padding: 1rem 0.5rem;
    margin-bottom: 2rem;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px 6px #261c1c;
  }

  .heading-tertiary {
    font-size: 2rem;
    font-family: "Varela";
    font-weight: 400;
    margin-bottom: 2.5rem;

    @include respond(big-desktop) {
      font-size: 31.2px;
    }
    @include respond(tab-land) {
      font-size: 20px;
    }
    @include respond(tab-port) {
      font-size: 18px;
    }
    @include respond(phone) {
      font-size: 16px;
    }
  }

  p {
    @include respond(big-desktop) {
      font-size: 18px;
    }
    @include respond(tab-land) {
      font-size: 16px;
    }
    @include respond(tab-port) {
      font-size: 16px;
    }
    @include respond(phone) {
      font-size: 14px;
    }
  }
}

.bold-menu {
  font-weight: bold;
  font-size: 1.2rem;

  @include respond(big-desktop) {
    font-size: 1.8rem;
  }
  @include respond(tab-land) {
    font-size: 1.6rem;
  }
  @include respond(tab-port) {
    font-size: 1.3rem;
  }
  @include respond(phone) {
    font-size: 1.2rem;
  }
}

.menu-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include respond(phone) {
    align-items: center;
  }
}

.menu-item-box {
  display: flex;
  justify-content: space-between;

  @include respond(phone) {
    flex-direction: column;
    align-items: center;
    flex-direction: column-reverse;
  }
}

.menu-img {
  height: 100px;
  border-radius: 8px;

  @include respond(big-desktop) {
    height: 200px;
  }
  @include respond(tab-port) {
    height: 140px;
  }
  @include respond(phone) {
    width: 280px;
    height: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 100vh;
  overflow-y: auto;
  background: #eee
    url('data:image/svg+xml,\
   <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill-opacity="0.8" >\
            <rect x="200" width="200" height="200" />\
            <rect y="200" width="200" height="200" />\
            </svg>');
  background-size: 90px 90px;
  border-radius: 20px;
  background-position: 50% 55.5%;

  @include respond(big-desktop) {
    width: 95vw;
  }
  @include respond(tab-land) {
    width: 98vw;
  }
  @include respond(phone) {
    width: 100vw;
    border-radius: 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 65vw;
    height: 98vh;
    border: 20px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;

    @include respond(big-desktop) {
      width: 90vw;
      border: 10px solid rgba(0, 0, 0, 0.5);
      border-radius: 10px;
    }
    @include respond(tab-land) {
      width: 95vw;
    }
    @include respond(phone) {
      height: 97vh;
      border: 6px solid rgba(0, 0, 0, 0.5);
    }
  }

  &__click-away {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}

.menu-logo {
  align-self: center;
  max-width: 220px;
  z-index: 100000;
  position: relative;
  top: 0;
  margin-top: 0rem;

  @include respond(tab-port) {
    max-width: 180px;
  }
  @include respond(phone) {
    max-width: 210px;
  }
}

li {
  margin-top: 5px;
  margin-bottom: 15px;
  list-style: none;

  @include respond(big-desktop) {
    margin-bottom: 0;
  }
  @include respond(phone) {
    margin-bottom: 6px;
  }
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  justify-content: center;
  align-items: center;
  text-align: left;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0;
    padding-bottom: 1rem;
    width: 50vw;
    height: 100vh;
    border-radius: 8px;
    font-size: 1rem;
    color: #303030;
    position: relative;
    z-index: 10000;
    overflow-y: auto;

    @include respond(big-desktop) {
      width: 70vw;
      height: 98vh;
    }
    @include respond(tab-port) {
      width: 78vw;
      height: 98vh;
      // margin-top: 14rem;
    }
    @include respond(phone) {
      align-items: center;
      width: 88vw;
      height: 100vh;
      border-radius: 0;
    }

    ul {
      list-style: none;
      padding: 0;
      max-width: 100%;
    }

    h2 {
      font-size: 2rem;
      margin-top: 2rem;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      margin-bottom: 3rem;
      align-self: center;

      @include respond(big-desktop) {
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
      }
      @include respond(tab-port) {
        font-size: 2rem;
      }
      @include respond(phone) {
        margin-bottom: 1rem;
      }
    }

    p {
      margin-bottom: 0.5rem;
      max-width: 80%;

      @include respond(big-desktop) {
        font-size: 1.4rem;
      }
      @include respond(tab-land) {
        font-size: 1.3rem;
      }
      @include respond(tab-port) {
        font-size: 1rem;
      }
      @include respond(phone) {
        max-width: 85%;
        font-size: 1rem;
        text-align: center;
      }
    }
  }

  &__close {
    position: absolute;
    top: 5%;
    right: 21%;
    font-size: 3rem;
    color: black;
    text-decoration: none;
    z-index: 10001;

    @include respond(big-desktop) {
      top: 3%;
      right: 9%;
    }
    @include respond(tab-land) {
      right: 7%;
    }
    @include respond(tab-port) {
      right: 9%;
    }
    @include respond(phone) {
      right: 8%;
    }
  }

  &:target {
    display: flex;
  }
}

.modal__content::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Hide scrollbar for Firefox */
.modal__content {
  scrollbar-width: none;
}

/* For IE and Edge */
.modal__content {
  -ms-overflow-style: none;
}

.fullscreen-modal {
  display: none;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.97);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#modal-1:target,
#modal-2:target,
#modal-3:target,
#modal-4:target,
#modal-5a:target,
#modal-5:target,
#modal-6:target,
#modal-7:target,
#modal-8:target,
#modal-9:target,
#modal-10:target,
#modal-11:target,
#modal-12:target,
#modal-13:target,
#modal-14:target,
#modal-15:target,
#modal-16:target,
#modal-17:target,
#modal-18:target,
#modal-19:target {
  display: flex;
}

.fullscreen-content {
  max-width: 90%;
  max-height: 80%;
  margin: auto;
  display: block;
}

/* Close button */
.close-modal {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
  color: #bbb;
  text-decoration: none;
}
