.u-display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-display-flex-evenly {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.u-align-center {
  text-align: center;
}

.u-margin-sides {
  text-align: left;
  margin-inline: 1rem;
  padding: 1rem;

}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-sm-medium {
  margin-bottom: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2.5rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;

  @include respond(phone) {
    margin-top: 2rem;
    margin-bottom: 6rem;
  }
}
