.menu-section,
.about-section,
.story-section,
.where-section {
  position: relative;
  padding: 4rem 0;

  @include respond(tab-land) {
    padding: 2rem 0;
  }

}

.about-section {
  background-color: $white;
}

.menu-section {
  background-color: $black;
}

.story-section {
  position: relative;
}

.where-section {
  background-color: $black;
}

.contact-section {
  padding-top: 4rem;
  background-color: $white;

  @include respond(tab-port) {
    padding-top: 3rem;
  }
}
